DATABASE_URL="file:./dev.db"
ACCESS_TOKEN_VALIDITY_DURATION_IN_SEC=300000
REFRESH_TOKEN_VALIDITY_DURATION_IN_SEC=300000
ACCESS_TOKEN_SECRET=janithchamikara
REFRESH_TOKEN_SECRET=janithchamikara
PORT=3000
JWT_SECRET=janithchamikara
STRIPE_SECRET_KEY=sk_test_YOUR_STRIPE_SECRET_KEY_HERE
